*{
    margin: 0;
    padding: 0;

}
body{
    box-sizing: border-box;
   
}
.container{
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tab{
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #cdcdcd;
}
.header{
    height: 5vh;
    width: 100%;
    background-color: black;
    ;
    color: white;
    text-align: center;
    padding-top: 7px ;
}
.search{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}
#serachInput{
    width: 80%;
    height: 40px;
}
.btn{
    background-color: black;
    color: white;
    height: 40px;
    width: 140px;
}
.btn:hover{
    cursor: pointer;
}
.sortingBtn{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
    width: 100%;
    
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.list{
    margin-top: 5px;
   
    
}

/* #studentTable{
    overflow: scroll;
} */